body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.navbar {
  background-color: #2980b9;
  border-radius: 5px;
  padding: 5px;
}

.navbar > a {
  color: #f5f5f5;
  border-radius: 2px;
  padding: 2px;
  text-decoration: none;
}

.navbar > a:hover {
  background-color: #3498db;
  color: #ffffff;
}

.request {
  background-color: #ecf0f1;
  border-radius: 5px;
  padding: 5px;
}

.response {
  background-color: #ecf0f1;
  border-radius: 5px;
}

.response p {
  padding: 5px;
}

.response li {
  list-style-type: none;
}
